body {
    background-color: #F5f6f7;
    margin: 0;
    line-height: 1.5;
    font-family: 'Open Sans', Arial, sans-serif;
}

nav {
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-bottom: 1px solid ;
}

nav header {
    padding: 16px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #4d4e53;   
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li a {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    color: #4d4e53;
    display: block;
    cursor: pointer;
  }

  .navbar ul li a:hover {
    color: #060607;
  }

.main {
    margin-left: 320px; 
    padding: 20px;
    background-color: #F1EFEF;
    color: #4d4e53;
  }

pre {
  background-color: #f5f5f5;
  border: 1px solid #e2dada;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.main-section header {
  font-size: 1.8em;
  text-align: left;
  margin: 0;
  font-weight: 550;
}

.main-section a {
  cursor: pointer;
}

@media only screen and (max-width: 815px) {
  .main-section {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
  }
}